@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-yellow-400 font-semibold text-6xl mb-10;
}

.smh1 {
  @apply text-5xl font-semibold text-center mt-16;
}

input {
  @apply border-amber-900 border-2 rounded outline-amber-900 px-4 placeholder-yellow-400;
}

.nav {
  @apply hover:bg-yellow-400 hover:text-amber-900 transition-all delay-75 p-1 rounded-md;
}

table {
  @apply table-auto border border-4 border-yellow-400 border-collapse text-center w-11/12 max-w-7xl;
}

thead > tr {
  @apply border-4 border-yellow-400;
}

thead > tr > td {
  @apply border border-yellow-400 text-amber-900 font-semibold;
}

td {
  @apply border border-yellow-400 text-amber-900 text-xl;
}

svg {
  @apply stroke-2 w-6 h-6;
}
